In [1]:
import numpy as np
import pandas as pd

In [65]:
master_folder = "/home/charly/Desktop/mazda/MailChimp/"
lists = "lists/"
granular_activity = "granular_activity/"
geo_data = "geo_data/"
campaigns_content = "campaigns_content/"
aggregate_activity = "aggregate_activity/"
campaigns = "campaigns.csv"

In [57]:
# Functions to count the number of files per folder
import os, os.path
def filecount(dir_name):
    return len([f for f in os.listdir(dir_name) if os.path.isfile(dir_name +f)])

## Campaign Master File

In [99]:
df_campaigns = pd.read_csv(master_folder + campaigns)

In [100]:
df_campaigns['Open Rate'] = df_campaigns['Open Rate'].apply(lambda x: x[:-1]).astype('float')
df_campaigns['Click Rate'] = df_campaigns['Click Rate'].apply(lambda x: x[:-1]).astype('float')

In [101]:
len(df_campaigns['Title']) == len(set(df_campaigns['Title']))

True

In [102]:
df_campaigns.describe()

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Times Forwarded,Forwarded Opens,Unique Opens,Open Rate,Total Opens,Unique Clicks,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.0,184.0,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,72235.326087,70919.418478,605.679348,710.228261,1315.907609,0.0,0.0,13990.586957,42.511141,24338.831522,2335.875000,13.560598,2180.429348,119.956522,20.097826,0.021739,2.858696
std,141367.927913,139161.318275,1275.311573,2673.598965,3525.799065,0.0,0.0,27428.536117,22.682958,49206.857928,4419.901714,20.171124,4321.360968,381.131216,84.325684,0.146228,3.484804
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,3.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,234.500000,224.250000,0.750000,0.000000,1.000000,0.0,0.0,135.000000,24.552500,378.250000,22.500000,3.137500,22.000000,0.000000,0.000000,0.000000,0.000000
50%,3978.500000,3769.000000,19.000000,18.000000,44.000000,0.0,0.0,1244.000000,38.470000,2305.500000,216.000000,5.360000,210.000000,4.500000,0.000000,0.000000,1.000000
75%,66403.500000,66033.000000,317.000000,223.500000,1018.750000,0.0,0.0,16598.250000,59.200000,27282.000000,2524.500000,11.510000,1082.250000,84.500000,8.000000,0.000000,5.000000
max,729617.000000,713553.000000,6334.000000,28820.000000,32627.000000,0.0,0.0,204077.000000,100.000000,418605.000000,22739.000000,100.000000,26915.000000,4326.000000,889.000000,1.000000,13.000000

In [103]:
df_campaigns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 23 columns):
Title                      184 non-null object
Subject                    172 non-null object
List                       184 non-null object
Send Date                  184 non-null object
Send Weekday               184 non-null object
Total Recipients           184 non-null int64
Successful Deliveries      184 non-null int64
Soft Bounces               184 non-null int64
Hard Bounces               184 non-null int64
Total Bounces              184 non-null int64
Times Forwarded            184 non-null int64
Forwarded Opens            184 non-null int64
Unique Opens               184 non-null int64
Open Rate                  184 non-null float64
Total Opens                184 non-null int64
Unique Clicks              184 non-null int64
Click Rate                 184 non-null float64
Total Clicks               184 non-null int64
Unsubscribes               184 non-null int64
Abuse Complaints           184 non-null int64
Times Liked on Facebook    184 non-null int64
Folder Id                  184 non-null int64
Unique Id                  184 non-null object
dtypes: float64(2), int64(15), object(6)
memory usage: 33.1+ KB

In [159]:
df_campaigns.head()

,Title,Subject,List,Send Date,Send Weekday,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,...,Open Rate,Total Opens,Unique Clicks,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id,Unique Id
0,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,Lighting mode is live on rekordbox dj!,Pioneer DJ Email Subscriptions,"Feb 20, 2018 10:01 am",Tuesday,519913,513675,2476,3762,6238,...,3.50,22924,2598,0.51,3095,110,294,0,0,fb07c19c1b
1,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,¡El modo Lighting ya está en rekordbox dj!,Pioneer DJ Email Subscriptions,"Feb 20, 2018 09:59 am",Tuesday,11850,11786,21,43,64,...,6.50,1010,130,1.10,155,4,0,0,0,eea12b0749
2,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,rekordbox dj jetzt mit Lighting Mode!,Pioneer DJ Email Subscriptions,"Feb 20, 2018 09:58 am",Tuesday,11628,11499,53,76,129,...,9.32,1454,206,1.79,241,10,0,0,0,97f414d4c6
3,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,新たにLighting modeを搭載！進化したrekordbox dj,Pioneer DJ Email Subscriptions,"Feb 20, 2018 09:56 am",Tuesday,7354,7291,40,23,63,...,9.55,917,114,1.56,131,1,0,0,0,c95d07e6e1
4,PDJ-Internal Performance report: January 2018,PDJ Web Jan 18: Record-breaking eCom results i...,PDJinternal - Performance email,"Feb 13, 2018 11:00 pm",Tuesday,61,61,0,0,0,...,59.02,133,14,22.95,32,0,0,0,0,a6eb16fcba

## Lists

In [61]:
#filecount
print("# of files in unsubscribed :", filecount(os.fspath(master_folder + lists + "unsubscribed/")))
print("# of files in members :", filecount(os.fspath(master_folder + lists + "members/")))
print("# of files in cleaned :", filecount(os.fspath(master_folder + lists + "cleaned/")))

# of files in unsubscribed : 17
# of files in members : 17
# of files in cleaned : 17

In [108]:
df_list_rand = pd.read_csv(master_folder + lists +  "unsubscribed/unsubscribed_233037_pioneer-dj-email-subscriptions.csv",\
                  low_memory=False)

In [109]:
df_list_rand.columns

Index(['Email Address', 'First Name', 'Last Name', 'Country', 'Segment',
       'LangCode', 'MEMBER_RATING', 'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME',
       'CONFIRM_IP', 'LATITUDE', 'LONGITUDE', 'GMTOFF', 'DSTOFF', 'TIMEZONE',
       'CC', 'REGION', 'UNSUB_TIME', 'UNSUB_CAMPAIGN_TITLE',
       'UNSUB_CAMPAIGN_ID', 'UNSUB_REASON', 'UNSUB_REASON_OTHER', 'LEID',
       'EUID', 'NOTES'],
      dtype='object')

In [146]:
df_list_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,...,CC,REGION,UNSUB_TIME,UNSUB_CAMPAIGN_TITLE,UNSUB_CAMPAIGN_ID,UNSUB_REASON,UNSUB_REASON_OTHER,LEID,EUID,NOTES
0,manogg@ig.com.br,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,BR,SP,2017-07-28 09:52:12,n/a,n/a,NaN,NaN,158701161.0,3570f9d7bb,NaN
1,barryftg@yahoo.fr,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,MA,08,2017-07-28 09:49:33,n/a,n/a,NaN,NaN,158701165.0,16770e4bf8,NaN
2,sabprodj@gmail.com,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,US,CA,2017-07-28 09:52:34,n/a,n/a,NaN,NaN,158701169.0,e28743825a,NaN
3,rob@lunenburg.nl,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,NL,ZH,2017-07-28 09:54:39,n/a,n/a,NaN,NaN,158701189.0,c9e81ea948,NaN
4,attuclott@yahoo.com,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,DE,NW,2017-07-28 09:52:47,n/a,n/a,NaN,NaN,158701193.0,8020234493,NaN

## Granular Activity

In [105]:
#filecount
print("# of files in clicks :", filecount(os.fspath(master_folder + granular_activity + "clicks/")))
print("# of files in opens :", filecount(os.fspath(master_folder + granular_activity + "opens/")))

# of files in clicks : 186
# of files in opens : 186

In [116]:
df_gran_act_clicks_rand = pd.read_csv(master_folder + granular_activity + \
                  "clicks/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [117]:
df_gran_act_clicks_rand.columns

Index(['Timestamp', 'Email', 'Url'], dtype='object')

In [147]:
df_gran_act_clicks_rand.head()

,Timestamp,Email,Url
0,2016-07-01 07:53:03,marko.erregger@gmx.at,https://youtu.be/kLxvt4R8muE
1,2016-07-01 07:53:04,rhallema@belfabriek.nl,https://register.pioneerdj.com/info.php?ap_lan...
2,2016-07-01 07:53:04,arnocosta@gmail.com,http://www.pioneerdj.com/en/product/controller...
3,2016-07-01 07:53:04,soundhm@yahoo.co.in,https://youtu.be/kLxvt4R8muE
4,2016-07-01 07:54:04,sigmatrustdje@gmail.com,https://youtu.be/kLxvt4R8muE

In [112]:
df_gran_act_opens_rand = pd.read_csv(master_folder + granular_activity + \
                  "opens/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [114]:
df_gran_act_opens_rand.columns

Index(['Timestamp', 'Email'], dtype='object')

In [148]:
df_gran_act_opens_rand.head()

             Timestamp                   Email
0  2016-07-01 07:52:12          info@bwefar.nl
1  2016-07-01 07:52:14     arnocosta@gmail.com
2  2016-07-01 07:52:14   leondebaughn@live.com
3  2016-07-01 07:52:14  rhallema@belfabriek.nl
4  2016-07-01 07:52:14  rhallema@belfabriek.nl

## Geo Data

In [115]:
#filecount
print("# of files in clicks :", filecount(os.fspath(master_folder + geo_data + "clicks/")))
print("# of files in opens :", filecount(os.fspath(master_folder + geo_data + "opens/")))

# of files in clicks : 186
# of files in opens : 186

In [118]:
df_geo_clicks_rand = pd.read_csv(master_folder + geo_data + \
                  "clicks/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [119]:
df_geo_clicks_rand.columns

Index(['Country Code', 'Region', 'Url', 'Clicks'], dtype='object')

In [149]:
df_geo_clicks_rand.head()

,Country Code,Region,Url,Clicks
0,AO,NaN,http://www.pioneerdj.com/en/product/controller...,1
1,AO,NaN,https://youtu.be/kLxvt4R8muE,1
2,AR,AR_BA,http://www.pioneerdj.com/en/product/controller...,1
3,AR,AR_BA,https://rekordbox.com/en/products/rekordboxvid...,1
4,AT,AT_NO,https://youtu.be/kLxvt4R8muE,1

In [120]:
df_geo_opens_rand = pd.read_csv(master_folder + geo_data + \
                  "opens/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [121]:
df_geo_opens_rand.columns

Index(['Country Code', 'Region', 'Opens'], dtype='object')

In [150]:
df_geo_opens_rand.head()

  Country Code Region  Opens
0           AO    NaN      1
1           AR  AR_BA      1
2           AT  AT_NO      1
3           AT  AT_WI      1
4           AU    NSW      1

## campaigns_content

In [131]:
list_files = [f for f in os.listdir(os.fspath(master_folder + campaigns_content)) \
              if os.path.isfile(os.fspath(master_folder + campaigns_content) +f)]

In [139]:
html_arr = []
txt_arr = []
other_arr = []
for i in list_files:
    if i.split(".")[-1] == 'html':
        html_arr.append(i)
    elif i.split(".")[-1] == 'txt':
        txt_arr.append(i)
    else:
        other_arr.append(i)

In [143]:
#filecount
print("# of files in campaigns_content :", filecount(os.fspath(master_folder + campaigns_content)))
print("# of html files :", len(html_arr))
print("# of txt files :", len(txt_arr))
print("# of other files :", len(other_arr))

# of files in campaigns_content : 402
# of html files : 201
# of txt files : 201
# of other files : 0

## Aggregate_activity

In [145]:
#filecount
print("# of files in abuse :", filecount(os.fspath(master_folder + aggregate_activity + "abuse/")))
print("# of files in bounces :", filecount(os.fspath(master_folder + aggregate_activity + "bounces/")))
print("# of files in click_activity :", filecount(os.fspath(master_folder + aggregate_activity + "click_activity/")))
print("# of files in not_opened :", filecount(os.fspath(master_folder + aggregate_activity + "not_opened/")))
print("# of files in opened :", filecount(os.fspath(master_folder + aggregate_activity + "opened/")))
print("# of files in unsub-reasons :", filecount(os.fspath(master_folder + aggregate_activity + "unsub-reasons/")))

# of files in abuse : 186
# of files in bounces : 186
# of files in click_activity : 186
# of files in not_opened : 186
# of files in opened : 186
# of files in unsub-reasons : 186

In [152]:
df_agg_abuse_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "abuse/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_bounces_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "bounces/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_click_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "click_activity/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_notop_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "not_opened/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_op_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "opened/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_unsub_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "unsub-reasons/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [165]:
df_agg_abuse_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating
0,thedottorm@libero.it,NaN,NaN,NaN,NaN,NaN,1
1,mslusher@att.net,NaN,NaN,NaN,NaN,NaN,1
2,dj_sleapy@hotmail.co.uk,NaN,NaN,NaN,NaN,NaN,1

In [162]:
len(df_agg_bounces_rand)

247

In [156]:
df_agg_click_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating,Clicks
0,barryftg@yahoo.fr,NaN,NaN,NaN,NaN,NaN,2,2
1,sabprodj@gmail.com,NaN,NaN,NaN,NaN,NaN,2,1
2,dj_cezar2000@yahoo.com,NaN,NaN,RO,rekordbox_februari,EN,4,1
3,rhallema@belfabriek.nl,NaN,NaN,NL,rekordbox_februari,EN,5,1
4,trolly@planet.nl,NaN,NaN,NaN,NaN,NaN,2,1

In [157]:
df_agg_notop_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating
0,manogg@ig.com.br,NaN,NaN,NaN,NaN,NaN,2
1,chase522@gmail.com,NaN,NaN,CN,rekordbox_februari,EN,1
2,rob@lunenburg.nl,NaN,NaN,NaN,NaN,NaN,2
3,barat.simon@ymail.com,NaN,NaN,FR,rekordbox_februari,EN,2
4,5260737@qq.com,NaN,NaN,CN,rekordbox_februari,EN,5

In [158]:
df_agg_op_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating,Opens
0,barryftg@yahoo.fr,NaN,NaN,NaN,NaN,NaN,2,2
1,sabprodj@gmail.com,NaN,NaN,NaN,NaN,NaN,2,1
2,Cfraanje@yahoo.com,NaN,NaN,NL,rekordbox_februari,EN,5,1
3,attuclott@yahoo.com,NaN,NaN,NaN,NaN,NaN,2,1
4,dj_cezar2000@yahoo.com,NaN,NaN,RO,rekordbox_februari,EN,4,1

In [167]:
df_agg_unsub_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating,reason,description
0,thedottorm@libero.it,NaN,NaN,NaN,NaN,NaN,1,SPAM,NaN
1,mslusher@att.net,NaN,NaN,NaN,NaN,NaN,1,SPAM,NaN
2,dj_sleapy@hotmail.co.uk,NaN,NaN,NaN,NaN,NaN,1,SPAM,NaN