In [2]:
import numpy as np
import pandas as pd

In [3]:
master_folder = "/home/charly/Desktop/mazda/MailChimp/"
lists = "lists/"
granular_activity = "granular_activity/"
geo_data = "geo_data/"
campaigns_content = "campaigns_content/"
aggregate_activity = "aggregate_activity/"
campaigns = "campaigns.csv"

In [4]:
# Functions to count the number of files per folder
import os, os.path
def filecount(dir_name):
    return len([f for f in os.listdir(dir_name) if os.path.isfile(dir_name +f)])

## Campaign Master File

In [5]:
df_campaigns = pd.read_csv(master_folder + campaigns)

In [6]:
# Transform percentage into float
df_campaigns['Open Rate'] = df_campaigns['Open Rate'].apply(lambda x: x[:-1]).astype('float')
df_campaigns['Click Rate'] = df_campaigns['Click Rate'].apply(lambda x: x[:-1]).astype('float')

In [7]:
len(df_campaigns['Title']) == len(set(df_campaigns['Title']))

True

In [8]:
df_campaigns.describe()

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Times Forwarded,Forwarded Opens,Unique Opens,Open Rate,Total Opens,Unique Clicks,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.0,184.0,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,72235.326087,70919.418478,605.679348,710.228261,1315.907609,0.0,0.0,13990.586957,42.511141,24338.831522,2335.875000,13.560598,2180.429348,119.956522,20.097826,0.021739,2.858696
std,141367.927913,139161.318275,1275.311573,2673.598965,3525.799065,0.0,0.0,27428.536117,22.682958,49206.857928,4419.901714,20.171124,4321.360968,381.131216,84.325684,0.146228,3.484804
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,3.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,234.500000,224.250000,0.750000,0.000000,1.000000,0.0,0.0,135.000000,24.552500,378.250000,22.500000,3.137500,22.000000,0.000000,0.000000,0.000000,0.000000
50%,3978.500000,3769.000000,19.000000,18.000000,44.000000,0.0,0.0,1244.000000,38.470000,2305.500000,216.000000,5.360000,210.000000,4.500000,0.000000,0.000000,1.000000
75%,66403.500000,66033.000000,317.000000,223.500000,1018.750000,0.0,0.0,16598.250000,59.200000,27282.000000,2524.500000,11.510000,1082.250000,84.500000,8.000000,0.000000,5.000000
max,729617.000000,713553.000000,6334.000000,28820.000000,32627.000000,0.0,0.0,204077.000000,100.000000,418605.000000,22739.000000,100.000000,26915.000000,4326.000000,889.000000,1.000000,13.000000

In [9]:
df_campaigns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 23 columns):
Title                      184 non-null object
Subject                    172 non-null object
List                       184 non-null object
Send Date                  184 non-null object
Send Weekday               184 non-null object
Total Recipients           184 non-null int64
Successful Deliveries      184 non-null int64
Soft Bounces               184 non-null int64
Hard Bounces               184 non-null int64
Total Bounces              184 non-null int64
Times Forwarded            184 non-null int64
Forwarded Opens            184 non-null int64
Unique Opens               184 non-null int64
Open Rate                  184 non-null float64
Total Opens                184 non-null int64
Unique Clicks              184 non-null int64
Click Rate                 184 non-null float64
Total Clicks               184 non-null int64
Unsubscribes               184 non-null int64
Abuse Complaints           184 non-null int64
Times Liked on Facebook    184 non-null int64
Folder Id                  184 non-null int64
Unique Id                  184 non-null object
dtypes: float64(2), int64(15), object(6)
memory usage: 33.1+ KB

**Columns explanation:**
- Title: Title of the campaign
- Subject: Subject of the campaign
- List: Family of the campaign
- Total Recipients - Successful Deliveries = Total Bounces
- Soft Bounces: typically indicate a temporary delivery issue to an address 
- Hard Bounces: indicates a permanent reason an email cannot be delivere
- Times Forwarded: Number of times the campaign was forwarded
- Unique Opens: Number of times the campaign was opened (if a user opens two times the campaign, counts only as one)
- Open Rate = Unique_Opens / Successfull_Deliveries
- Total Opens: Total number of times the campaign was opened by recipients. This count includes multiple opens from individual recipients.
- Unique Clicks: Number of clicks (if a user clicks two times, counts only as one)
- Click Rate: Unique_Clicks / Successfull_Deliveries
- Total Clicks: Total number of times tracked links were clicked by recipients. This count includes multiple clicks from individual recipients
- Unsubscribes: Number of subscribers that opted out of your list using the unsubscribe link in this campaign.
- Abuse Complaints: Number of recipients that reported your email as spam. Subscribers that report a campaign as spam are automatically unsubscribed from your list.
- Folder Id: ?
- Unique Id: should be the foreign key to other files. Not the case for the moment.

In [10]:
df_campaigns.head()

,Title,Subject,List,Send Date,Send Weekday,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,...,Open Rate,Total Opens,Unique Clicks,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id,Unique Id
0,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,Lighting mode is live on rekordbox dj!,Pioneer DJ Email Subscriptions,"Feb 20, 2018 10:01 am",Tuesday,519913,513675,2476,3762,6238,...,3.50,22924,2598,0.51,3095,110,294,0,0,fb07c19c1b
1,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,¡El modo Lighting ya está en rekordbox dj!,Pioneer DJ Email Subscriptions,"Feb 20, 2018 09:59 am",Tuesday,11850,11786,21,43,64,...,6.50,1010,130,1.10,155,4,0,0,0,eea12b0749
2,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,rekordbox dj jetzt mit Lighting Mode!,Pioneer DJ Email Subscriptions,"Feb 20, 2018 09:58 am",Tuesday,11628,11499,53,76,129,...,9.32,1454,206,1.79,241,10,0,0,0,97f414d4c6
3,PIONEER DJ - PDJCGEN7T106 - rekordbox Lighting...,新たにLighting modeを搭載！進化したrekordbox dj,Pioneer DJ Email Subscriptions,"Feb 20, 2018 09:56 am",Tuesday,7354,7291,40,23,63,...,9.55,917,114,1.56,131,1,0,0,0,c95d07e6e1
4,PDJ-Internal Performance report: January 2018,PDJ Web Jan 18: Record-breaking eCom results i...,PDJinternal - Performance email,"Feb 13, 2018 11:00 pm",Tuesday,61,61,0,0,0,...,59.02,133,14,22.95,32,0,0,0,0,a6eb16fcba

In [11]:
df_campaigns['Unique Id'].head()

0    fb07c19c1b
1    eea12b0749
2    97f414d4c6
3    c95d07e6e1
4    a6eb16fcba
Name: Unique Id, dtype: object

In [12]:
len(set(df_campaigns['List']))

16

## Lists

For each campaign list, there are three files:
- cleaned: Cleaned contacts have addresses that have hard bounced, or repeatedly soft bounced, and are considered invalid.
- members
- unsubscribed

In [13]:
#filecount
print("# of files in unsubscribed :", filecount(os.fspath(master_folder + lists + "unsubscribed/")))
print("# of files in members :", filecount(os.fspath(master_folder + lists + "members/")))
print("# of files in cleaned :", filecount(os.fspath(master_folder + lists + "cleaned/")))

# of files in unsubscribed : 17
# of files in members : 17
# of files in cleaned : 17

In [14]:
df_list_rand = pd.read_csv(master_folder + lists +  "unsubscribed/unsubscribed_233037_pioneer-dj-email-subscriptions.csv",\
                  low_memory=False)

In [15]:
df_list_rand.columns

Index(['Email Address', 'First Name', 'Last Name', 'Country', 'Segment',
       'LangCode', 'MEMBER_RATING', 'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME',
       'CONFIRM_IP', 'LATITUDE', 'LONGITUDE', 'GMTOFF', 'DSTOFF', 'TIMEZONE',
       'CC', 'REGION', 'UNSUB_TIME', 'UNSUB_CAMPAIGN_TITLE',
       'UNSUB_CAMPAIGN_ID', 'UNSUB_REASON', 'UNSUB_REASON_OTHER', 'LEID',
       'EUID', 'NOTES'],
      dtype='object')

In [16]:
df_list_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,...,CC,REGION,UNSUB_TIME,UNSUB_CAMPAIGN_TITLE,UNSUB_CAMPAIGN_ID,UNSUB_REASON,UNSUB_REASON_OTHER,LEID,EUID,NOTES
0,manogg@ig.com.br,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,BR,SP,2017-07-28 09:52:12,n/a,n/a,NaN,NaN,158701161.0,3570f9d7bb,NaN
1,barryftg@yahoo.fr,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,MA,08,2017-07-28 09:49:33,n/a,n/a,NaN,NaN,158701165.0,16770e4bf8,NaN
2,sabprodj@gmail.com,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,US,CA,2017-07-28 09:52:34,n/a,n/a,NaN,NaN,158701169.0,e28743825a,NaN
3,rob@lunenburg.nl,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,NL,ZH,2017-07-28 09:54:39,n/a,n/a,NaN,NaN,158701189.0,c9e81ea948,NaN
4,attuclott@yahoo.com,NaN,NaN,NaN,NaN,NaN,2,2016-06-30 15:44:11,NaN,2016-06-30 15:44:11,...,DE,NW,2017-07-28 09:52:47,n/a,n/a,NaN,NaN,158701193.0,8020234493,NaN

## Granular Activity

Number of rows in each of the files in the granular activity folder corresponds to either "Total Clicks" or "Total Opens" in the campaign master file.

Clicks files contain three columns:
- Timestamp
- Email
- Url

Opens files contain two columns:
- Timestamp
- Url

In [17]:
#filecount
print("# of files in clicks :", filecount(os.fspath(master_folder + granular_activity + "clicks/")))
print("# of files in opens :", filecount(os.fspath(master_folder + granular_activity + "opens/")))

# of files in clicks : 186
# of files in opens : 186

In [18]:
df_gran_act_clicks_rand = pd.read_csv(master_folder + granular_activity + \
                  "clicks/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [19]:
df_gran_act_clicks_rand.columns

Index(['Timestamp', 'Email', 'Url'], dtype='object')

In [20]:
df_gran_act_clicks_rand.head()

,Timestamp,Email,Url
0,2016-07-01 07:53:03,marko.erregger@gmx.at,https://youtu.be/kLxvt4R8muE
1,2016-07-01 07:53:04,rhallema@belfabriek.nl,https://register.pioneerdj.com/info.php?ap_lan...
2,2016-07-01 07:53:04,arnocosta@gmail.com,http://www.pioneerdj.com/en/product/controller...
3,2016-07-01 07:53:04,soundhm@yahoo.co.in,https://youtu.be/kLxvt4R8muE
4,2016-07-01 07:54:04,sigmatrustdje@gmail.com,https://youtu.be/kLxvt4R8muE

In [21]:
df_gran_act_opens_rand = pd.read_csv(master_folder + granular_activity + \
                  "opens/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [22]:
df_gran_act_opens_rand.columns

Index(['Timestamp', 'Email'], dtype='object')

In [23]:
df_gran_act_opens_rand.head()

             Timestamp                   Email
0  2016-07-01 07:52:12          info@bwefar.nl
1  2016-07-01 07:52:14     arnocosta@gmail.com
2  2016-07-01 07:52:14   leondebaughn@live.com
3  2016-07-01 07:52:14  rhallema@belfabriek.nl
4  2016-07-01 07:52:14  rhallema@belfabriek.nl

## Geo Data

Only shows data for users where geo data was enabled. For this reason, number of clicks and opens might not correspond to total number of clicks and opens on the master campaign file.

In [24]:
#filecount
print("# of files in clicks :", filecount(os.fspath(master_folder + geo_data + "clicks/")))
print("# of files in opens :", filecount(os.fspath(master_folder + geo_data + "opens/")))

# of files in clicks : 186
# of files in opens : 186

In [25]:
df_geo_clicks_rand = pd.read_csv(master_folder + geo_data + \
                  "clicks/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [26]:
df_geo_clicks_rand.columns

Index(['Country Code', 'Region', 'Url', 'Clicks'], dtype='object')

In [27]:
df_geo_clicks_rand.head()

,Country Code,Region,Url,Clicks
0,AO,NaN,http://www.pioneerdj.com/en/product/controller...,1
1,AO,NaN,https://youtu.be/kLxvt4R8muE,1
2,AR,AR_BA,http://www.pioneerdj.com/en/product/controller...,1
3,AR,AR_BA,https://rekordbox.com/en/products/rekordboxvid...,1
4,AT,AT_NO,https://youtu.be/kLxvt4R8muE,1

In [28]:
df_geo_opens_rand = pd.read_csv(master_folder + geo_data + \
                  "opens/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [29]:
df_geo_opens_rand.columns

Index(['Country Code', 'Region', 'Opens'], dtype='object')

In [30]:
df_geo_opens_rand.head()

  Country Code Region  Opens
0           AO    NaN      1
1           AR  AR_BA      1
2           AT  AT_NO      1
3           AT  AT_WI      1
4           AU    NSW      1

## campaigns_content

HTML and text files containing the contents of each campaign

In [31]:
list_files = [f for f in os.listdir(os.fspath(master_folder + campaigns_content)) \
              if os.path.isfile(os.fspath(master_folder + campaigns_content) +f)]

In [32]:
html_arr = []
txt_arr = []
other_arr = []
for i in list_files:
    if i.split(".")[-1] == 'html':
        html_arr.append(i)
    elif i.split(".")[-1] == 'txt':
        txt_arr.append(i)
    else:
        other_arr.append(i)

In [33]:
#filecount
print("# of files in campaigns_content :", filecount(os.fspath(master_folder + campaigns_content)))
print("# of html files :", len(html_arr))
print("# of txt files :", len(txt_arr))
print("# of other files :", len(other_arr))

# of files in campaigns_content : 402
# of html files : 201
# of txt files : 201
# of other files : 0

In [34]:
#Script to extract only text from the content html files

import urllib.request
from bs4 import BeautifulSoup
import re

with urllib.request.urlopen('file:///home/charly/Desktop/mazda/MailChimp/campaigns_content/339905_telenet-telndiv6t899-en-copy-02-.html') as url:
    s = url.read()
    soup = BeautifulSoup(s, 'html.parser')
    texts = soup.findAll(text=True)

def visible(element):
    if element.parent.name in ['style', 'script', 'document', 'head', 'title']: return False
    elif re.match('<!--.*-->', str(element)): return False
    elif re.match('\n', str(element)): return False
    elif re.match('^HTML', str(element)): return False
    elif re.match('^[\[<]', str(element)): return False
    elif re.search('\xa0',  str(element)): return False
    elif re.search('<',  str(element)): return False
    elif re.search('\|',  str(element)): return False
    elif re.search('© | SNIPPETS | CTA | This message was sent | Please do not reply | PREVIEW | START | END | Android Google App Fix Start | Android Google App Fix End',\
                   str(element)): return False
    elif len(element) < 4: return False
    else: 
        return True
    
def replace(element):
    if re.search(u'\r\n', str(element)): 
        return element.replace(u'\r\n', u' ')

visible_texts = list(filter(visible, texts))
map_texts = list(map(lambda x: x.replace(u'\r\n', u' ').strip(), visible_texts))

sub = 'Deze e-mail werd verstuurd'

for i, k in enumerate(map_texts):
    if sub in k:
        index = i

# map_texts = map_texts[:index]

print(map_texts)

['start mail', 'Hopefully your Saturday was as groovy as Saturday Night Fever and your Sunday as thrilling as Any Given Sunday. And that you are well rested so that you can successfully answer question 4 of the Big Play More Quiz.', 'Find the answer to question 4 of our Big Play More Quiz', 'Good luck!', 'Jeroen Bronselaer', 'Marketing director', 'end mail', 'This email was sent to', 'why did I get this?', 'unsubscribe from this list', 'update subscription preferences']

In [35]:
import nltk
from nltk.corpus import stopwords 
from nltk.stem.wordnet import WordNetLemmatizer
import string
stop = set(stopwords.words('english'))
exclude = set(string.punctuation) 
lemma = WordNetLemmatizer()
def clean(doc):
    stop_free = " ".join([i for i in doc.lower().split() if i not in stop])
    punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
    normalized = " ".join(lemma.lemmatize(word) for word in punc_free.split())
    return normalized

In [36]:
doc_clean = [clean(doc).split() for doc in map_texts]

In [37]:
# Importing Gensim
import gensim
from gensim import corpora
from gensim.corpora import Dictionary

# Creating the term dictionary of our courpus, where every unique term is assigned an index. 
dictionary = corpora.Dictionary(doc_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.
doc_term_matrix = [dictionary.doc2bow(doc) for doc in doc_clean]

In [38]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel

# Running and Trainign LDA model on the document term matrix.
ldamodel = Lda(doc_term_matrix, num_topics=3, id2word = dictionary, passes=50)

In [39]:
print(ldamodel.print_topics(num_topics=3, num_words=3))

[(0, '0.070*"preference" + 0.070*"update" + 0.070*"subscription"'), (1, '0.058*"saturday" + 0.058*"sunday" + 0.058*"4"'), (2, '0.106*"mail" + 0.061*"end" + 0.061*"start"')]

In [40]:
from nltk.corpus import words

correct_spellings = words.words()

In [41]:
def answer_nine(entries=['cormulent', 'incendenece', 'validrate']):
    results = []
    for entry in entries:
        candidates = [w for w in correct_spellings if w[0] == entry[0]]
        results.append(min(candidates, key=
                           lambda candidate:nltk.jaccard_distance(set(nltk.ngrams(entry, n=4)), set(nltk.ngrams(candidate, n=4)))))
    return results
    
answer_nine()

/home/charly/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning: generator 'ngrams' raised StopIteration

['cormus', 'incendiary', 'valid']

## Aggregate_activity

The aggregate_activity folder is divided six subsets:
- abuse : list of the users that reported the campaign as an abuse (a user that reported a campaign as a spam)
- bounces : list of users for which the campaign could not be delivered to their email
- click_activity: list of users that have opened the campaign and clicked on the campaign
- not_opened: list of users that have not opened the campaign email
- opened: list of users that have opened the campaign email
- unsub_reasons: list of users that have unsubscribed and a field with the reason

In [287]:
#filecount
print("# of files in abuse :", filecount(os.fspath(master_folder + aggregate_activity + "abuse/")))
print("# of files in bounces :", filecount(os.fspath(master_folder + aggregate_activity + "bounces/")))
print("# of files in click_activity :", filecount(os.fspath(master_folder + aggregate_activity + "click_activity/")))
print("# of files in not_opened :", filecount(os.fspath(master_folder + aggregate_activity + "not_opened/")))
print("# of files in opened :", filecount(os.fspath(master_folder + aggregate_activity + "opened/")))
print("# of files in unsub-reasons :", filecount(os.fspath(master_folder + aggregate_activity + "unsub-reasons/")))

# of files in abuse : 186
# of files in bounces : 186
# of files in click_activity : 186
# of files in not_opened : 186
# of files in opened : 186
# of files in unsub-reasons : 186

In [288]:
df_agg_abuse_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "abuse/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_bounces_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "bounces/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_click_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "click_activity/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_notop_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "not_opened/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_op_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "opened/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)
df_agg_unsub_rand = pd.read_csv(master_folder + aggregate_activity + \
                  "unsub-reasons/334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv", low_memory=False)

In [44]:
df_agg_abuse_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating
0,thedottorm@libero.it,NaN,NaN,NaN,NaN,NaN,1
1,mslusher@att.net,NaN,NaN,NaN,NaN,NaN,1
2,dj_sleapy@hotmail.co.uk,NaN,NaN,NaN,NaN,NaN,1

In [45]:
len(df_agg_bounces_rand)

247

In [46]:
df_agg_click_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating,Clicks
0,barryftg@yahoo.fr,NaN,NaN,NaN,NaN,NaN,2,2
1,sabprodj@gmail.com,NaN,NaN,NaN,NaN,NaN,2,1
2,dj_cezar2000@yahoo.com,NaN,NaN,RO,rekordbox_februari,EN,4,1
3,rhallema@belfabriek.nl,NaN,NaN,NL,rekordbox_februari,EN,5,1
4,trolly@planet.nl,NaN,NaN,NaN,NaN,NaN,2,1

In [47]:
df_agg_notop_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating
0,manogg@ig.com.br,NaN,NaN,NaN,NaN,NaN,2
1,chase522@gmail.com,NaN,NaN,CN,rekordbox_februari,EN,1
2,rob@lunenburg.nl,NaN,NaN,NaN,NaN,NaN,2
3,barat.simon@ymail.com,NaN,NaN,FR,rekordbox_februari,EN,2
4,5260737@qq.com,NaN,NaN,CN,rekordbox_februari,EN,5

In [48]:
df_agg_op_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating,Opens
0,barryftg@yahoo.fr,NaN,NaN,NaN,NaN,NaN,2,2
1,sabprodj@gmail.com,NaN,NaN,NaN,NaN,NaN,2,1
2,Cfraanje@yahoo.com,NaN,NaN,NL,rekordbox_februari,EN,5,1
3,attuclott@yahoo.com,NaN,NaN,NaN,NaN,NaN,2,1
4,dj_cezar2000@yahoo.com,NaN,NaN,RO,rekordbox_februari,EN,4,1

In [49]:
df_agg_unsub_rand.head()

,Email Address,First Name,Last Name,Country,Segment,LangCode,Member Rating,reason,description
0,thedottorm@libero.it,NaN,NaN,NaN,NaN,NaN,1,SPAM,NaN
1,mslusher@att.net,NaN,NaN,NaN,NaN,NaN,1,SPAM,NaN
2,dj_sleapy@hotmail.co.uk,NaN,NaN,NaN,NaN,NaN,1,SPAM,NaN

## Match between master campaign file and csv files

In [56]:
agg_click_list = [f for f in os.listdir(master_folder +'aggregate_activity/click_activity/')\
 if os.path.isfile(master_folder + 'aggregate_activity/click_activity/' +f)]

In [251]:
agg_click_lis

['339741_pioneer-pdjcgen6t040-rkb-plx-500-ja.csv',
 '340577_mazda-mazdafee7w463-mazda-cheque-lux.csv',
 '336745_pioneer-pdjcgen6t040-product-e-mail-blasts-en-emailfreerb.csv',
 '339885_telenet-telndiv6t899-nl-v2.csv',
 '340053_pdj-internal-performance-report.csv',
 '340449_pioneer-professional-audio-pdjegen7t068-xprs-email-blast.csv',
 '340513_pdj-internal-performance-report-october-2017.csv',
 '339873_telenet-telndiv6t899-fr.csv',
 '340417_pioneer-dj-pdjcgen7t092-djm-s3-jp-a-b.csv',
 '339893_telenet-telndiv6t899-fr-v2.csv',
 '340069_pioneer-dj-pdjcgen6t060-toraiz-as-1-en-kuvo.csv',
 '339993_telenet-telndiv6t899-nl-verliezers.csv',
 '340029_pioneer-dj-pdjcgen6t060-toraiz-as-1-jp.csv',
 '340197_pioneer-dj-toraiz-sp-16-free-rb-combo-1.csv',
 '340241_pdj-internal-performance-report-march.csv',
 '339809_pioneer-pdjegen6t037-djm-450-en-cdj.csv',
 '340609_mazda-mazdhoc7w495-newsletter-januari-nl-3-jaar-plus-wedstrijd.csv',
 '340505_pioneer-dj-pdjcgen7t104-djm-rec-en-a-b-combo-1.csv',
 '340561_pioneer-dj-pdjcgen7t105-ddj-1000-en-a-b.csv',
 '340273_pioneer-dj-interface-2-email-blast-jp.csv',
 '340397_pioneer-dj-pdjcgen7t095-xdj-rx2-ja.csv',
 '340365_pioneer-dj-pdjcgen7t088-hdj-series-email-blast-en-a-b-combo-2.csv',
 '340281_pioneer-dj-interface-2-email-blast-a-b-combo-2.csv',
 '340113_pioneer-dj-pdjcgen7t073-djm-250mk2-jp.csv',
 '340097_pdj-internal-performance-report-january.csv',
 '340421_pioneer-dj-pdjcgen7t092-djm-s3-jp-a-b-combo-1.csv',
 '340333_pioneer-dj-pdjcgen7t088-hdj-series-email-blast-jp.csv',
 '340473_pdj-internal-performance-report-september-2017.csv',
 '339941_telenet-telndiv6t899-nl-v5.csv',
 '340325_pioneer-dj-pdjcgen7t096-rekordbox-5-0-en.csv',
 '336677_pioneer-pdjcgen6t040-product-e-mail-blasts-ja.csv',
 '339817_pdj-rekordbox-survey.csv',
 '340341_pioneer-dj-pdjcgen7t088-hdj-series-email-blast-en-a-b-combo-1.csv',
 '340585_pdj-internal-performance-report-december-2017.csv',
 '340289_pioneer-dj-djm-750mk2-blast.csv',
 '340157_pioneer-dj-pioneer-dj-account-edm-en-register.csv',
 '340161_pdj-internal-performance-report-february.csv',
 '340469_pioneer-dj-pdjegen7t063-ade.csv',
 '340373_pioneer-dj-pdjcgen7t088-hdj-series-email-blast-en-a-b-winner.csv',
 '339897_telenet-telndiv6t899-nl-v3.csv',
 '339833_pioneer-dj-pdjcgen6t059-ddj-sz2-en-cdj.csv',
 '340501_pioneer-dj-pdjcgen7t104-djm-rec-en-a-b.csv',
 '340017_telenet-telndiv6t899-en-winnaars-t-shirt.csv',
 '339721_pioneer-pdjcgen6t040-rekordbox-4-2-1-ja.csv',
 '340629_mazda-mazdfee7w463-mazda-autosalon-extra.csv',
 '339969_telenet-telndiv6t899-nl-winnaars-hoofdprijs.csv',
 '340101_nativenation-brands-mail.csv',
 '339901_telenet-telndiv6t899-fr-v3.csv',
 '340225_pioneer-dj-toraiz-sp-16-kuvo-winner.csv',
 '340345_pioneer-dj-pdjcgen7t091-ddjsr2-jp.csv',
 '340277_pdj-internal-performance-report-june-2017.csv',
 '340001_telenet-telndiv6t899-fr-winnaars-kussen.csv',
 '339877_telenet-telndiv6t899-en.csv',
 '340217_pioneer-dj-toraiz-sp-16-cdjuser-combo-2.csv',
 '340661_pdj-internal-performance-report-january-2018.csv',
 '340181_pioneer-dj-toraiz-sp-16-emailnews-combo-1.csv',
 '340233_pioneer-dj-toraiz-sp-16-cdjuser-winner.csv',
 '340229_pioneer-dj-toraiz-sp-16-free-rb-winner.csv',
 '340693_pioneer-dj-pdjcgen7t106-rekordbox-lighting-mode-de.csv',
 '340257_pioneer-dj-interface-2-email-blast-a-b.csv',
 '339917_telenet-telndiv6t899-nl-v4.csv',
 '334661_pioneer-pdjcgen6t040-product-e-mail-blasts-en-cdjuser.csv',
 '340557_pdj-internal-performance-report-november-2017.csv',
 '336741_pioneer-pdjcgen6t040-product-e-mail-blasts-en-emailnews.csv',
 '339889_telenet-telndiv6t899-en-copy-01-.csv',
 '340601_mazda-mazdhoc7w495-newsletter-januari-nl-3-jaar-plus-wedstrijd.csv',
 '340461_pioneer-dj-pdjcgen7t099-djs1000-en-a-b-combo-1.csv',
 '340645_pioneer-dj-pdjcgen7t104-djm-rec-en-a-b-combo-2.csv',
 '340521_these-days-tdbegen7t751-gabc-2017-en.csv',
 '340409_pioneer-dj-pdjcgen7t092-djm-s3-en-a-b.csv',
 '340145_pioneer-dj-pioneer-dj-account-edm-jp-kuvo.csv',
 '339933_pioneer-dj-pdjcgen6t059-ddj-sz2-en-freerb.csv',
 '340005_telenet-telndiv6t899-fr-winnaars-t-shirt.csv',
 '340669_pioneer-dj-pdjcgen7t106-rekordbox-lighting-mode-en.csv',
 '340037_welcome.csv',
 '340153_pioneer-dj-pioneer-dj-account-edm-en-kuvo.csv',
 '340125_pioneer-dj-pdjcgen7t073-djm-250mk2-en-kuvo.csv',
 '339861_pioneer-dj-pdjcgen6t059-ddj-sz2-jp.csv',
 '340641_pdj-kuvo-email-blast-jp.csv',
 '340209_pioneer-dj-toraiz-sp-16-kuvo-combo-2.csv',
 '339953_telenet-telndiv6t899-nl-v6.csv',
 '340121_pioneer-dj-pdjcgen7t073-djm-250mk2-en-cdjuser.csv',
 '340329_pioneer-dj-pdjcgen7t089-ddjxp1-en.csv',
 '340617_mazda-mazdhoc7w495-newsletter-januari-fr-3-jaar.csv',
 '339845_pioneer-pdjcgen6t058-wedj-iphone-en-kuvo.csv',
 '339797_pioneer-pdjcgen6t040-ddj-wego4-en-freerb.csv',
 '340213_pioneer-dj-toraiz-sp-16-free-rb-combo-2.csv',
 '340293_pioneer-dj-djm-750mk2-a-b-en.csv',
 '340201_pioneer-dj-toraiz-sp-16-kuvo.csv',
 '340489_pioneer-dj-pdjcgen7t101-dm-40bt-jp.csv',
 '340021_telenet-telndiv6t899-en-verliezers.csv',
 '339945_telenet-telndiv6t899-fr-v5.csv',
 '339929_pioneer-dj-pdjcgen6t059-ddj-sz2-en-emailnews.csv',
 '340245_pdj-internal-performance-report-april.csv',
 '340525_these-days-tdbegen7t751-gabc-2017-en-copy-01-.csv',
 '339957_telenet-telndiv6t899-fr-v6.csv',
 '340529_pioneer-professional-audio-pdjxxx-xprs-warranty-extension.csv',
 '339805_pioneer-pdjegen6t037-djm-450-en-emailnews.csv',
 '339829_pioneer-pdjegen6t037-wedj-iphone-jp.csv',
 '340249_nativenation-newsletter-may-2017.csv',
 '339905_telenet-telndiv6t899-en-copy-02-.csv',
 '340621_mazda-mazdhoc7w495-newsletter-januari-fr-3-jaar.csv',
 '340593_mazda-mazdhoc7w495-newsletter-januari-nl-prospect-plus-wedstrijd.csv',
 '340189_pioneer-dj-toraiz-sp-16-cdjuser-combo-1.csv',
 '340221_pioneer-dj-toraiz-sp-16-emailnews-combo-2.csv',
 '340401_pioneer-dj-pdjcgen7t089-rekordbox-5-0-ja.csv',
 '340117_pioneer-dj-pioneer-dj-account-edm-jp-forum.csv',
 '340453_pioneer-dj-pdjcgen7t101-dm-40bt-en.csv',
 '340581_pioneer-dj-pdjcgen7t106-rekordbox-5-1.csv',
 '340673_pioneer-dj-pdjcgen7t106-rekordbox-lighting-mode-jp.csv',
 '340093_pioneer-dj-pioneer-dj-account-edm-en-forum.csv',
 '339981_telenet-telndiv6t899-nl-winnaars-mok.csv',
 '340637_pdj-kuvo-email-blast.csv',
 '340605_mazda-mazdhoc7w495-newsletter-januari-nl-3-jaar-min-wedstrijd.csv',
 '340237_pioneer-dj-toraiz-sp-16-emailnews-winner.csv',
 '340065_pioneer-dj-pdjcgen6t060-toraiz-as-1-en-freerb.csv',
 '339837_pioneer-pdjcgen6t058-wedj-iphone-en-emailnews.csv',
 '340313_pioneer-dj-djm-750mk2-a-b-en-winner.csv',
 '340337_pioneer-dj-pdjcgen7t088-hdj-series-email-blast-en-a-b.csv',
 '339997_telenet-telndiv6t899-fr-winnaars-mok.csv',
 '339725_pioneer-pdjcgen6t040-rekordbox-4-2-1-en.csv',
 '340141_pioneer-dj-pdjcgen7t079-sp16-jp.csv',
 '339949_telenet-telndiv6t899-en-v5.csv',
 '340569_pioneer-dj-pdjcgen7t105-ddj-1000-en-a-b-combo-2.csv',
 '340589_mazda-mazdhoc7w495-newsletter-januari-nl-prospect-min-wedstrijd.csv',
 '340185_pioneer-dj-toraiz-sp-16-cdjuser.csv',
 '340013_telenet-telndiv6t899-en-winnaars-mok.csv',
 '340061_pioneer-dj-pdjcgen6t060-toraiz-as-1-en-emailnews.csv',
 '340009_telenet-telndiv6t899-fr-verliezers.csv',
 '339921_telenet-telndiv6t899-fr-v4.csv',
 '340649_pioneer-dj-pdjcgen7t104-djm-rec-en-a-b-winner.csv',
 '339729_pioneer-pdjcgen6t040-rkb-plx-500-en-emailfreerb.csv',
 '340497_pioneer-dj-pdjcgen7t099-djs1000-en-a-b-winner.csv',
 '340613_mazda-mazdhoc7w495-newsletter-januari-fr-prospect-.csv',
 '340465_pioneer-dj-pdjcgen7t099-djs1000-jp.csv',
 '339737_pioneer-pdjcgen6t040-rkb-plx-500-en-cdjuser.csv',
 '340361_pioneer-dj-pdjcgen7t089-ddjxp1-jp.csv',
 '340425_pioneer-dj-pdjcgen7t092-djm-s3-jp-a-b-combo-2.csv',
 '340129_pioneer-dj-pdjcgen7t073-djm-250mk2-en-emailnews.csv',
 '340133_pioneer-dj-pdjcgen7t073-djm-250mk2-en-freerb.csv',
 '339757_pioneer-pdjcgen6t040-xdj-1000mk2-en-emailnews.csv',
 '340433_pioneer-professional-audio-pdjegen7t066-xy-3b-email-blast.csv',
 '339821_pdj-rekordbox-video-public-beta.csv',
 '340285_pioneer-dj-interface-2-email-blast-a-b-winner.csv',
 '340261_pioneer-dj-interface-2-email-blast-a-b-combo-1.csv',
 '339825_pioneer-pdjcgen6t058-wedj-iphone-en-cdj.csv',
 '339777_pioneer-pdjcgen6t040-ddj-wego4-ja.csv',
 '340385_pdj-internal-performance-report-august-2017.csv',
 '339733_pioneer-pdjcgen6t040-rkb-plx-500-en-emailnews.csv',
 '340633_pioneer-dj-pdjcgen7t105-ddj-1000-en-a-b-winner.csv',
 '340317_pdj-internal-performance-report-july-2017.csv',
 '339773_pioneer-pdjcgen6t040-ddj-wego4-en-cdj.csv',
 '340033_native-nation-waitinglist.csv',
 '339769_pioneer-pdjcgen6t040-xdj-1000mk2-ja-resend.csv',
 '340437_pioneer-dj-pdjcgen7t095-xdj-rx2-en-v2.csv',
 '339749_pioneer-pdjcgen6t040-xdj-1000mk2-ja.csv',
 '340297_pioneer-dj-djm-750mk2-a-b-en-combo-1.csv',
 '339985_telenet-telndiv6t899-nl-winnaars-kussen.csv',
 '340565_pioneer-dj-pdjcgen7t105-ddj-1000-en-a-b-combo-1.csv',
 '340253_pdj-internal-performance-report-may.csv',
 '340309_pioneer-dj-djm-750mk2-a-b-en-combo-2.csv',
 '339761_pioneer-pdjcgen6t040-xdj-1000mk2-en-cdj.csv',
 '339801_pioneer-pdjcgen6t040-ddj-wego4-en-emailnews.csv',
 '340597_mazda-mazdhoc7w495-newsletter-januari-nl-3-jaar-min-wedstrijd.csv',
 '340205_pioneer-dj-toraiz-sp-16-kuvo-combo-1.csv',
 '340193_pioneer-dj-toraiz-sp-16-free-rb.csv',
 '340697_pioneer-dj-pdjcgen7t106-rekordbox-lighting-mode-es.csv',
 '340057_pioneer-dj-pdjcgen6t060-toraiz-as-1-en-cdjuser.csv',
 '339753_pioneer-pdjcgen6t040-xdj-1000mk2-en-free-rb.csv',
 '340413_pioneer-dj-pdjcgen7t092-djm-s3-en-a-b-combo-1.csv',
 '339961_telenet-telndiv6t899-en-v6.csv',
 '340177_pioneer-dj-toraiz-sp-16-emailnews.csv',
 '340429_pioneer-dj-pdjcgen7t092-djm-s3-en-a-b-combo-2.csv',
 '339937_pioneer-dj-pdjcgen6t059-ddj-sz2-en-kuvo.csv',
 '339841_pioneer-pdjcgen6t058-wedj-iphone-en-freerb.csv',
 '340149_pioneer-dj-pioneer-dj-account-edm-jp-register.csv',
 '339925_telenet-telndiv6t899-en-v4.csv',
 '340457_pioneer-dj-pdjcgen7t099-djs1000-en-a-b.csv',
 '339865_telenet-telndiv6t899-nl.csv',
 '339793_pioneer-pdjegen6t037-djm-450-jp.csv',
 '339789_pioneer-pdjegen6t037-djm-450-en-freerb.csv',
 '339989_telenet-telndiv6t899-nl-winnaars-t-shirt.csv',
 '340517_pioneer-dj-pdjcgen7t104-djm-rec-jp.csv',
 '340349_pioneer-dj-pdjcgen7t091-ddjsr2-en.csv',
 '340573_pioneer-dj-pdjcgen7t105-ddj-1000-jp.csv',
 '340493_pioneer-dj-pdjcgen7t099-djs1000-en-a-b-combo-2.csv']

In [284]:
import re

#fucntion to find the row in the campaign master file based on name of individual files in other folder

def find_row(file_searched):
    file = re.split("[_\-.]",file_searched)
    regex1 = re.compile("(^[0-9]+$)")
    regex2 = re.compile("(csv)")
    filtered = list(filter(lambda i: not regex1.search(i), file))
    filtered = list(filter(lambda i: not regex2.search(i), filtered))
    regexp = re.compile('|'.join(filtered),re.IGNORECASE)
    return df_campaigns[df_campaigns['Title'].apply( lambda x: len(re.findall(regexp, x)) == len(filtered))]\
    .index.values

In [285]:
find_row(agg_click_list[4])

array([  4,  28,  30,  34,  42,  58,  66,  72,  78,  79,  81,  99, 112,
       118])

In [278]:
match_file_campaign = []
for i in range(len(agg_click_list)):
    match_file_campaign.append(find_row(agg_click_list[i]))

In [286]:
for i, k in enumerate(match_file_campaign):
    if len(match_file_campaign[i]) == 0:
        print(agg_click_list[i])

339889_telenet-telndiv6t899-en-copy-01-.csv
340037_welcome.csv
340525_these-days-tdbegen7t751-gabc-2017-en-copy-01-.csv
339905_telenet-telndiv6t899-en-copy-02-.csv
340613_mazda-mazdhoc7w495-newsletter-januari-fr-prospect-.csv
340033_native-nation-waitinglist.csv

## Join aggregate activity files

In [370]:
df_join = df_agg_abuse_rand[['Email Address', 'Member Rating']]\
.merge(df_agg_bounces_rand[['Email Address','Member Rating', 'Bounce Type']].rename(index = str, columns={"Member Rating":"Member Rating_1"}),\
       on = 'Email Address', how = 'outer')\
.merge(df_agg_click_rand[['Email Address', 'Country', 'Segment', 'LangCode', 'Member Rating', 'Clicks']].rename(index = str, columns={"Member Rating":"Member Rating_2"}),\
       on = 'Email Address', how = 'outer')\
.merge(df_agg_notop_rand[['Email Address', 'Country', 'Segment', 'LangCode', 'Member Rating']].rename(index = str, columns={"Member Rating":"Member Rating_3"}),\
       on = 'Email Address', how = 'outer')\
.merge(df_agg_op_rand[['Emai l Address', 'Country', 'Segment', 'LangCode', 'Member Rating']].rename(index = str, columns={"Member Rating":"Member Rating_4"}),\
       on = 'Email Address', how = 'outer')\
.merge(df_agg_unsub_rand[['Email Address', 'Member Rating']].rename(index = str, columns={"Member Rating":"Member Rating_5"}),\
       on = 'Email Address', how = 'outer')

KeyError: "['Emai l Address'] not in index"

In [332]:
df_join.columns

Index(['Email Address', 'Member Rating', 'Member Rating_1', 'Bounce Type',
       'Country_x', 'Segment_x', 'LangCode_x', 'Member Rating_2', 'Clicks',
       'Country_y', 'Segment_y', 'LangCode_y', 'Member Rating_3', 'Country',
       'Segment', 'LangCode', 'Member Rating_4', 'Member Rating_5'],
      dtype='object')

In [367]:
df_join['test'] = np.where(df_join['Member Rating'].isnull(), df_join['Member Rating'], "test")

In [369]:
df_join['test']

0       test
1       test
2       test
3        nan
4        nan
5        nan
6        nan
7        nan
8        nan
9        nan
10       nan
11       nan
12       nan
13       nan
14       nan
15       nan
16       nan
17       nan
18       nan
19       nan
20       nan
21       nan
22       nan
23       nan
24       nan
25       nan
26       nan
27       nan
28       nan
29       nan
        ...
2612     nan
2613     nan
2614     nan
2615     nan
2616     nan
2617     nan
2618     nan
2619     nan
2620     nan
2621     nan
2622     nan
2623     nan
2624     nan
2625     nan
2626     nan
2627     nan
2628     nan
2629     nan
2630     nan
2631     nan
2632     nan
2633     nan
2634     nan
2635     nan
2636     nan
2637     nan
2638     nan
2639     nan
2640     nan
2641     nan
Name: test, Length: 2642, dtype: object

In [ ]:
df_join['Member Rating'].fillna('').apply(lambda x: str(x)) + df_join['Member Rating_1'].fillna('').apply(lambda x: str(x))